
main {
    width: 100%;
    overflow-x: hidden;
}

.left-gutter {
    display: inline-block;
    height: 100vh;
    width: 5%;
    margin: 0;
}

main > div:nth-child(2){
    width: 95%;
    float: right;
    margin-right: auto;
}